*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#19c8fa;
    --secondary-color:rgb(15 116 143 / 70%);
    --main-padding: 100px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
@media (min-width:768){
    .container{
        width: 750px;
    }
}
@media (min-width:992){
    .container{
        width: 970;
    }
}
@media (min-width:1200){
    .container{
        width: 1170px;
    }
}
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
   
  }
.logo img{
    height: 40px;
}

header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: calc(100% - 26px);
    bottom: 0;
    left: 15px;
}
.links{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.links ul{
    list-style: none;
    display: flex;
   
}
@media (max-width:768px){
    .links ul{
        display: none;
    }
}
.links ul li a{
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    display: block;
    font-size: 14 px;
    position: relative;
    z-index: 2;
}
.links ul a:hover,.links ul a.active{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.links .toggle{
    color: white;
    font-size: 22px;
}
@media (min-width:768px){
    .links .toggle{
        display: none;
    }
}
.links .toggle:hover +ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
}
.links .toggle:hover +ul a{
    padding: 15px;
}
.icon{
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
}
.icon i{
color: white;
font-weight: bold;
font-size: 20px;
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0;
}
.landing{
    min-height: 100vh;
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    position: relative;
}
@media(max-width:767px){
    .landing .text-0{
    width:100%;
    }
}
.text-0{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--secondary-color);
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.content{
    max-width: 500px;
 }
 .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
 }
.content p{
    font-size: 14px;
    line-height: 2;
}

.overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
}
.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    font-weight: bold;

}
.left{
    left: 30px;
}
.right{
    right: 30px;
}
@media (max-width:767px){
    .center{
        display: none;
    }  
}
@media(max-width:767px){
    .landing .text {
        width: 100%;
     }
}
 .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display:flex;
}
.bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
} 
.bullets .active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
li::marker{
    display:none !important ;
}
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.main-heading{
  text-align: center;
}
.main-heading h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    padding-bottom: 20px;
    position: relative;
    
}
h1::before{
    content: "";
    position: absolute;
    width: 110px;
    left: 50%;
    transform: translatex(-50%);
    border-bottom: 2px solid #333;
bottom: -5px;
}
h1::after{
 content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -13px;
    background-color: white;
}

.main-heading p{
color: #777;
margin-bottom: 50px;
max-width: 540px;
margin: 50px auto 80px ;
line-height: 1.7;
}

.srv-box{
    display: flex;
}
.srv-box i{
   padding:0 20px;
}
.srv-box p{
    max-width: 480px;
    color: #777;
    line-height: 1.5;
}
.srv-box h3{
    color: var(--main-color);
    margin-bottom: 20px;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
@media(max-width:991px){
    .services-container{
        grid-template-columns: 1fr;     
    }
    .services-container i{
        margin: 0 50px;
    }
    .srv-box p{
        width: 100%;
    }
}
@media(max-width:767px){
    .srv-box{
        display: contents;
        text-align: center;
        margin-bottom: 30px;
    }
    .srv-box p{
    margin: auto;
    }
}
@media(min-width:991px){
    .services-container{
        margin: 0 100px;
    }
}

.design{
    background-image: url(../imgs/design-features.jpg);
    background-size: cover;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: var(--main-padding);
}
.design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 /50%);

}

.image img{
    position: absolute;
    bottom: -60px; 
    left: 100px;
}
.design .text{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color:white;
    padding: 50px;
    width: 50%;
   min-height: 60%;
}
.text ul {
    list-style: none;
}
.text h2{
    font-weight: normal;
    margin-bottom: 30px;
}
.text li{
    line-height: 2.5;
}
.text li::before{
    font-family: "Font Awesome 6 Free";
    content: "<i class="fa-solid fa-display"></i>";

}
@media(max-width:873px){
    .image{
        display: none;
    }
    .design .text{
        width: 100%;
    }
}
.list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li{
     font-size: 18px;  
    padding: 10px;
}
.list .active{
    background-color: var(--main-color);
    color: white;
}
.portofolio{
    padding-bottom: var(--main-padding);
}
.img-container{
    margin-top:50px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.img-container .box{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

@media(max-width:1198px){
 .img-container .box{
        flex-basis: 50%;
    }
}
@media(max-width:767px){
    .img-container .box{
           flex-basis: 100%;
       }
   }
.img-container img{
    max-width: 100%;
    transition: 0.3s;
}
.img-container .caption{
    position: absolute;
    padding: 20px;
    bottom: -100%;
    left: 0;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}

.img-container h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.img-container p{
    color: var(--main-color);
}
.img-container .box:hover img{
transform: rotate(3deg) scale(1.1);
}
.img-container .box:hover .caption{
    bottom:0;
}
.more{
display: block;
margin: auto;
text-decoration: none;
color: white;
background-color: var(--main-color);
padding: 10px 3 0px;
width: fit-content;
text-transform: uppercase;
}
.vedio{
    position: relative;
}
.vedio::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 /40%);
}

.vedio video{
    width: 100%;
}

.top{
    padding: 40px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.top h2{
    font-weight: normal;
    text-transform: uppercase;
}
.top p{
    margin-bottom: 40px;
    margin-top: 30px;
    text-transform: capitalize;

}
.top button{
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    border: none;
}
  